extends ../layout

block content
  //- FIRST CONTAINER
  .carousel.slide#myCarousel(data-ride="carousel")
    //- Indicators
    ol.carousel-indicators
      li.active(data-target="#myCarousel", data-slide-to="0")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
      li(data-target="#myCarousel", data-slide-to="3")
      li(data-target="#myCarousel", data-slide-to="4")
      li(data-target="#myCarousel", data-slide-to="5")
      li(data-target="#myCarousel", data-slide-to="6")
      li(data-target="#myCarousel", data-slide-to="7")

    //- Wrapper for slides
    .carousel-inner
      .item.active
        img.center(src="/images/buddy/buddy.jpg", alt="Pic1", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy2.jpg", alt="Pic2", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy3.jpg", alt="Pic3", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy4.jpg", alt="Pic4", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy5.jpg", alt="Pic5", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy6.jpg", alt="Pic6", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy7.jpg", alt="Pic7", height="2000", width="2000")
      .item
        img.center(src="/images/buddy/buddy8.jpg", alt="Pic8", height="2000", width="2000")

    //- Left and right controls
    a.left.carousel-control(href="#myCarousel", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href="#myCarousel", data-slide="next")
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next
  .main-text.hidden-xs
    .col-md-12.text-center
      .jumbotron(style="background:transparent !important")
        h1 Login

  .container-fluid.text-center.bg-7.bot

    // FORM DIV 
    .col-sm-8.col-sm-offset-2.text-center.container.bg-4.page-header
      form.form-horizontal(method='POST')
        h1 Login
        br
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password', required)
        .form-group
          .col-sm-offset-3.col-sm-7
            button.col-sm-3.btn.btn-primary(type='submit')
              i.fa.fa-user
              | Login
            a.btn.btn-link(href='/forgot') Forgot your password?
        .form-group
          .col-sm-offset-3.col-sm-7
            hr
        .form-group
          .col-sm-offset-3.col-sm-7
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fa.fa-facebook
              | Sign in with Facebook
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fa.fa-google-plus
              | Sign in with Google
            a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
              i.fa.fa-linkedin
              | Sign in with LinkedIn
  br
  br
  br            
