extends ../layout

block content
  //- FIRST CONTAINER
  .carousel.slide#myCarousel(data-ride="carousel")

    //- Wrapper for slides
    .carousel-inner
      .item.active
        img.center(src="/images/buddy/buddy.jpg", alt="Pic1", height="2000", width="2000")

  .main-text.hidden-xs
    .col-md-12.text-center
      .jumbotron(style="background:transparent !important")
        h1 Create An Account


  .container-fluid.text-center.bg-7.bot
    .container-page
      // FORM DIV 
      .col-md-8.col-sm-offset-2.bg-4.page-header
        br
        h1 Create An Account
        br
        br
        form.form-horizontal(id='signup-form', method='POST')
          
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group.col-lg-12
            label.control-label.col-sm-2 Name
            .col-sm-10
              input.form-control(type='name', name='name', id='name', placeholder='Name', autofocus, required)
          .form-group.col-lg-12
            label.control-label.col-sm-2  Email Address
            .col-sm-10
              input.form-control(type='', name='', id='', placeholder='Email', autofocus, required)

          .form-group.col-lg-12
            label.control-label.col-sm-2  Confirm Email Address
            .col-sm-10
              input.form-control(type='', name='', id='', placeholder='Confirm Email', autofocus,required)
          .form-group.col-lg-12
            label.control-label.col-sm-2 Password
            .col-sm-10
              input.form-control(type='', name='', id='', placeholder='Password', autofocus, required)
               
          .form-group.col-lg-12
            label.control-label.col-sm-2(for='confirmPassword') Confirm Password
            .col-sm-10
              input.form-control(type='', name='', id='', placeholder='Confirm Password', autofocus, required)

          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label 
                  input.checkbox(type="checkbox") 
                  | Sign up for our newsletter
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label 
                  input.checkbox(type="checkbox")
                  | Send notifications to this email 
          br
          button.btn.btn-success(type="submit") 
            i.fa.fa-user-plus Signup

  br
  br
  br  
  br
  br
  br          