extends ../layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Create An Account
      .container#hoverPic
        img.img-responsive.margin#preHoverPic(src="/images/buddy/buddy6.jpg", alt="Image", align="middle")


  .container-fluid.text-center.bg-7

    // FORM DIV 
    .col-sm-8.col-sm-offset-2.text-center.container.bg-4.page-header
      form.form-horizontal(id='signup-form', method='POST')
        h1 Create An Account
        br
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password', required)
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus Signup
