.content
  footer#myFooter
    .container
      .row
        .col-sm-3.myCols
          h5 Philip Bankier
          ul
            li
              a(href="/") Home
            li 
              a(href="/signup") Sign up
            li 
              a(href="/login") Login
        .col-sm-3.myCols
          h5 My Things
          ul
            li 
              a(href="/about") About Me
            li 
              a(href="/contact") Contact Me
            li 
              a(href="/resume") My Resume
        .col-sm-3.myCols
          h5 Other Stuff
          ul
            li 
              a(href="/articles") Articles
            li 
              a(href="/problematic") Problematic
            li 
              a(href="/resources") Resources
            li 
              a(href="/buddy") Buddy
            li 
              a(href="/boo") Boo
        .col-sm-3.myCols
          h5 API 
          ul
            li 
              a(href="/api/facebook") Facebook
            li 
              a(href="/api/linkedin") LinkedIn
            li 
              a(href="/api/scraping") Scraper
    .social-networks
      a.twitter(href="/auth/linkedin") 
        i.fa.fa-linkedin
      a.facebook(href="/auth/facebook") 
        i.fa.fa-facebook
      a.google(href="/auth/google") 
        i.fa.fa-google-plus
    //- button.btn.btn-default(type="button") Contact us

    .footer-copyright
      p © 2017 Philip Bankier

  //- .container-fluid.bg-7.text-center
  //-   p.pull-left © 2017 Philip Bankier
  //-   ul.pull-right.list-inline
  //-     li
  //-       a(href='/home') Home
  //-     li
  //-       a |
  //-     li
  //-       a#top(href='#') Top Of The Page 
  //-     li
  //-       a |
  //-     li
  //-       a(href='/projects') My Other Projects
  //-     li
  //-       a |
  //-     li
  //-       a(href='https://github.com/philipbankier/Personal-Website') Project Github
  //-     li
  //-       a |
  //-     li
  //-       a(href='https://github.com/philipbankier/Personal-Website/issues') Report Issues


