.content
  footer#myFooter
    .container
      .row
        .col-sm-3.myCols
          h5 Philip Bankier
          ul
            li
              a(href="/") Home
            li 
              a(href="/contact") Contact Me
        .col-sm-3.myCols
          h5 My Things
          ul
            li 
              a(href="/likes") Some Things I Like
            li 
              a(href="/resume") My Resume
        .col-sm-3.myCols
          h5 Other Stuff
          ul
            li 
              a(href="/cool") Cool Things
            li 
              a(href="/resources") Resources
            li 
              a(href="/buddy") Buddy
            li 
              a(href="/boo") Boo
        .col-sm-3.myCols
          h5 Things To Read
          ul
            li 
              a(href="/articles") Articles
            li 
              a(href="/problematic") Problematic

    .social-networks
      a.twitter
        i.fa.fa-linkedin
      a.facebook 
        i.fa.fa-facebook
      a.google
        i.fa.fa-google-plus

    .footer-copyright
      p © 2017 Philip Bankier