footer
  .container.text-center
    p.pull-left © 2017 Philip Bankier
    ul.pull-right.list-inline
      li
        a(href='https://github.com/philipbankier/Personal-Website') GitHub Project
      li
        a(href='https://github.com/philipbankier/Personal-Website/issues') Issues
