footer
  .container-fluid.text-center
    p.pull-left © 2017 Philip Bankier
    ul.pull-right.list-inline
      li
        a(href='/home') Home
      li
        a(href='/projects') My Projects
      li
        a(href='https://github.com/philipbankier/Personal-Website') Website's Github
      li
        a(href='https://github.com/philipbankier/Personal-Website/issues') Report Issues
