footer
  .container.text-center
    p.float-left © 2018 PB Industries LLC. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/pbindustries/philip-bankier-personal-website') GitHub Project
      li.list-inline-item
        a(href='https://github.com/pbindustries/philip-bankier-personal-website/issues') Issues
