extends layout

block content
  
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Philip Bankier
      p My Personal Website
      .container#hoverPic
        img.img-responsive.margin.center-block#preHoverPic(src="/images/buddy/buddy.jpg", alt="Image", align="middle")
        .middle
          .text#hoverText
            a(href="/buddy") Click here to see more pics of Buddy!

  //- //- FIRST CONTAINER
  //- .container-fluid.bg-7
  //-   //- Lightbox Dev
  //-   div#lightgallery
  //-     a(href="/images/rock.jpg")
  //-       img(src="/images/rock.jpg")
  //-     a(href="/images/yoga.jpg")
  //-       img(src="/images/yoga.jpg")

  //- SECOND CONTAINER  
  .container-fluid.bg-5.text-center    
    h3.margin Some things that I like:
    .row
      .col-sm-4
        p Rick and Morty
        img.img-responsive.margin.center-block(src="/images/RickMorty.jpeg", style="width:40%", alt="Image")
      .col-sm-4
        p Rock Climbing
        img.img-responsive.margin.center-block(src="/images/rock.jpeg", style="width:100%", alt="Image")
      .col-sm-4 
        p Yoga 
        img.img-responsive.margin.center-block(src="/images/yoga.jpeg", style="width:50%", alt="Image")
  br
  br
  br