extends layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Philip Bankier
      p My Personal Website
      .container#hoverPic
        img.img-responsive.margin#preHoverPic(src="/images/buddy.jpg", alt="Image", align="middle")
        .middle
          .text#hoverText
            a(href="http://www.google.com/") Click here!

  // FIRST CONTAINER
  .container-fluid.bg-7

     // FORM DIV 
     .col-sm-6.col-sm-offset-3.text-center.container.bg-2

  // SECOND CONTAINER  
  .container-fluid.bg-5.text-center    
    h3.margin Some things that I like:
    .row
      .col-sm-4
        p Rick and Morty
        img.img-responsive.margin(src="/images/RickMorty.jpeg", style="width:40%", alt="Image")
      .col-sm-4
        p Rock Climbing
        img.img-responsive.margin(src="/images/rock.jpeg", style="width:100%", alt="Image")
      .col-sm-4 
        p Yoga
        img.img-responsive.margin(src="/images/yoga.jpeg", style="width:50%", alt="Image")



