extends layout

block content
  
  .large-header#large-header
    canvas#demo-canvas
    h1.main-title Welcome To My Website!
      div.btn-group
        a.btn.btn-clear(type="button", href="https://github.com/philipbankier/Personal-Website") 
          h4 Website Github
        a.btn.btn-clear(type="button", href="/buddy") 
          h4 More Pictures of Buddy  
          
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-1.text-center 
    br
    br
  .container-fluid.bg-4.text-center.parallax.bud2  
      br
      br
      br
      br

  .container-fluid.bg-1.text-center 
    br
    br
    br
    br
    br
  
  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br

  .container-fluid.bg-4.text-center.parallax.bud2.bot  
  br
  br
  br
  br
  br
  br
  br
  br
  br
