extends layout

block content
  
  .large-header-home#home
    canvas#demo-canvas
    .bb.home-logo      
    h1.main-home Hi, I'm Philip Bankier
    .sec-title Welcome To My Site
      br
      br
      div.btn-group
        a.btn.btn-clear(type="button", href="https://github.com/philipbankier/Personal-Website") 
          h4 Website Github
        a.btn.btn-clear(type="button", href="/buddy") 
          h4 More Pictures of Buddy  

  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
  .container-fluid.bg-4.text-center.large-header-home2#me
    br
    br
    .container-fluid.text-center#home2 
      canvas#demo-canvas
      h1.home2-title Get To Know Me    
      br
      br
      br
      br
      h1 My Skills
      .skillbar.clearfix(data-percent="20%")
        .skillbar-title(style="background: #d35400;")
          span HTML5
        .skillbar-bar(style="background: #e67e22;")
        .skill-bar-percent 20%

      .skillbar.clearfix(data-percent="25%")
        .skillbar-title(style="background: #2980b9;")
          span CSS3
        .skillbar-bar(style="background: #3498db;")
        .skill-bar-percent 25%

      .skillbar.clearfix(data-percent="50%")
        .skillbar-title(style="background: #2c3e50;")
          span jQuery
        .skillbar-bar(style="background: #2c3e50;")
        .skill-bar-percent 50%

      .skillbar.clearfix(data-percent="40%")
        .skillbar-title(style="background: #46465e;")
          span PHP
        .skillbar-bar(style="background: #5a68a5;")
        .skill-bar-percent 40%

      .skillbar.clearfix(data-percent="75%")
        .skillbar-title(style="background: #333333;")
          span Wordpress
        .skillbar-bar(style="background: #525252;")
        .skill-bar-percent 75%

      .skillbar.clearfix(data-percent="100%")
        .skillbar-title(style="background: #27ae60;")
          span SEO
        .skillbar-bar(style="background: #2ecc71;")
        .skill-bar-percent 100%

      .skillbar.clearfix(data-percent="70%")
        .skillbar-title(style="background: #124e8c;")
          span BOOM
        .skillbar-bar(style="background: #4288d0;")
        .skill-bar-percent 70%

      br   
      br
      h1 3d images gallery
        .container2
            #carousel
              figure
                img(src="http://lorempixel.com/186/116/nature/1", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/2", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/3", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/4", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/5", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/6", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/7", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/8", alt="")
              figure
                img(src="http://lorempixel.com/186/116/nature/9", alt="") 
      br 
      br   
      h1 Books I Like             
      br
      br
      .flex
        a(bg="a", style="left:0px;top:0px;width:250px;height:125px;", width="350", height="275") A
        a(bg="b", style="left:260px;height:100px;top:0px;width:125px;", width="250", height="175") B
        a(bg="c",style="left:395px;height:250px;top:0px;width:75px;", width="125", height="350") C
        a(bg="d", style="left:480px;height:75px;top:0px;width:75px;", width="175", height="150") D
        a(bg="e", style="left:565px;height:125px;top:0px;width:200px;", width="200", height="250") E
        a(bg="f", style="left:480px;height:200px;top:85px;width:75px;", width="150", height="225") F
        a(bg="g", style="left:0px;height:100px;top:135px;width:75px;", width="225", height="150") G
        a(bg="h", style="left:260px;height:75px;top:110px;width:125px;", width="200", height="200") H
        a(bg="i",style="left:85px;height:140px;top:135px;width:165px;", width="250", height="140") I
        a(bg="j", style="left:565px;height:150px;top:135px;width:75px;", width="125", height="275") J
        a(bg="k", style="left:650px;height:75px;top:135px;width:75px;", width="75", height="200") K
        br
        br
        br
        br
      br
      h1 My Passions Include
      br
      br
      .mainContainer
        ul.listContainer
          li
          li
          li
          li
          li
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br   
      br
      br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-4.text-center.large-header-home#buddy 
    .container-fluid.text-center#home2 
      br
      br
      canvas#demo-canvas
      br
      h1.home-project-title Some Of My Projects   
      br
      .container  
        ul.first
          li
            img(alt="Buddy1"  src="images/buddy/buddy.jpg", width="325", height="175")
          li
            img(alt="Buddy2" src="images/buddy/buddy2.jpg", width="325", height="175")
          li
            img(alt="Buddy3" src="images/buddy/buddy3.jpg", width="325", height="175")
      br
      br
    br

  .container-fluid.bg-9.text-center 
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-4.text-center.parallax.bud2.bot
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br