extends layout

block content
  
  .large-header-home#home
    canvas#demo-canvas
    .bb.home-logo      
    h1.main-home Hi, I'm Philip Bankier
    .sec-title Welcome To My Site
      br
      div.btn-group
        a.btn.btn-clear(type="button", href="https://github.com/philipbankier/Personal-Website") 
          h4 Website Github
        a.btn.btn-clear(type="button", href="/buddy") 
          h4 More Pictures of Buddy  

  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h1.home2-title Countdown To Graduation
    br
    br
    br
    br
    //- Fix this
    .countdown-container.container
      .clock.row

        //- days
        .clock-item.clock-days.countdown-time-value.col-sm-6.col-md-3
          .wrap
            .inner
              .clock-canvas#canvas_days
              .text
                p.val 5
                p.type-days.type-time DAYS
        //- hours
        .clock-item.clock-hours.countdown-time-value.col-sm-6.col-md-3
          .wrap
            .inner
              .clock-canvas#canvas_hours
              .text
                p.val 4
                p.type-hours.type-time HOURS

        //- minutes
        .clock-item.clock-minutes.countdown-time-value.col-sm-6.col-md-3        
          .wrap
            .inner
              .clock-canvas#canvas_minutes
              .text
                p.val 3
                p.type-minutes.type-time MINUTES
        //- seconds
        .clock-item.clock-seconds.countdown-time-value.col-sm-6.col-md-3        
          .wrap
            .inner
              .clock-canvas#seconds
              .text
                p.val 2
                p.type-seconds.type-time SECONDS

  .container-fluid.bg-4.text-center.large-header-home2#me
    br
    br
    .container-fluid.text-center#home2 
      canvas#demo-canvas
      h1.home2-title Get To Know Me    
      br
      br
      br
      br
      .row
        .col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
          .well.profile
            .col-sm-12    
              .col-xs-12.col-sm-8
                p About: 
                p Skills:
                  br
                  span.tags HTML
                  span.tags CSS
                  span.tags Kotlin

            .col-xs-12.col-sm-4.text-center
              img.img-responsive.margin.center-block#preHoverPic(src="/images/me.jpg", alt="Image")
              br
              br
            .col-xs-12.divider.text-center
              br
              br
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-success.btn-block 
                  span.fa.fa-plus-circle
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-info.btn-block View Profile
                  span.fa.fa-user
              .col-xs-12.col-sm-4.emphasis
                .btn-group.dropup.btn-block
                  button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Options
                    span.fa.fa-gear
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu.text-left(role="menu")
                    li
                      a(href="/contact") Contact Me
                        span.fa.fa-envelope.pull-right
                    li.divider                  
                    li
                      a(href="#") Add or remove from a list
                        span.fa.fa-list.pull-right
      br   
      br
      br 
      br                
      h1 Some Of My Passions Include
      br
      br
      .flex
        a(bg="a", style="left:0px;top:0px;width:250px;height:125px;", width="325", height="175") A
        a(bg="b", style="left:260px;height:100px;top:0px;width:125px;", width="250", height="175") B
        a(bg="c",style="left:395px;height:250px;top:0px;width:75px;", width="125", height="350") C
        a(bg="d", style="left:480px;height:75px;top:0px;width:75px;", width="175", height="150") D
        a(bg="e", style="left:565px;height:125px;top:0px;width:200px;", width="200", height="250") E
        a(bg="f", style="left:480px;height:200px;top:85px;width:75px;", width="150", height="225") F
        a(bg="g", style="left:0px;height:100px;top:135px;width:75px;", width="305", height="150") G
        a(bg="h", style="left:260px;height:75px;top:110px;width:125px;", width="200", height="200") H
        a(bg="i",style="left:85px;height:140px;top:135px;width:165px;", width="200", height="140") I
        a(bg="j", style="left:565px;height:150px;top:135px;width:75px;", width="125", height="275") J
        a(bg="k", style="left:650px;height:75px;top:135px;width:75px;", width="75", height="200") K
        br
        br
        br
        br

      br
      h1 My Galleries
      br
      .slider
        ul
          li
            .title
              a(href="/buddy") Buddy
            img(src="images/buddy/buddy2.jpg") 
          li
            .title
              a(href="/boo") Boo
            img(src="images/boo/boo1.jpg")
          li
            .title
              a(href="#") Fam
            img(src="http://lorempixel.com/600/360/fashion")      
            
          li
            .title
              a(href="#") Dope Stuff
            img(src="http://lorempixel.com/600/360/animals")
      br
      h1 My Stocks
      br
      script(src="http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=AAPL,AMZN,QQQ,NVDA,MGK")
      br
      br
      br   
      br
      br
    br
    br
    br
    br
    br
    br
    //- Fix this          
    //- .twentytwenty-container#container1
    //-   img(src="/images/buddy/buddy.jpg") 
    //-   img(src="/images/buddy/buddy2.jpg") 
  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-4.text-center.large-header-home#buddy 
    .container-fluid.text-center#home2 
      br
      br
      canvas#demo-canvas
      br
      h1.home-project-title Some Of My Projects   
      br
      .container  
        ul.first
          li
            img(alt="Buddy1"  src="images/buddy/buddy.jpg", width="325", height="175")
          li
            img(alt="Buddy2" src="images/buddy/buddy2.jpg", width="325", height="175")
          li
            img(alt="Buddy3" src="images/buddy/buddy3.jpg", width="325", height="175")
      br
      br
    br

  .container-fluid.bg-9.text-center 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-4.text-center.parallax.bud2.bot
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br