extends layout

block content
  
  .large-header-home#home
    canvas#demo-canvas
    .bb.home-logo      
    h1.main-home Hi, I'm Philip Bankier
    .sec-title Welcome To My Site
      br
      div.btn-group
        a.btn.btn-clear(type="button", href="https://github.com/philipbankier/Personal-Website") 
          h4 Website Github
        a.btn.btn-clear(type="button", href="/buddy") 
          h4 More Pictures of Buddy  

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h1.home3-title Countdown To Graduation
    br
    br
    br
    br
    //- Fix this
    .countdown-container.container
      .clock.row

        //- days
        .clock-item.clock-days.countdown-time-value.col-sm-6.col-md-3
          .wrap
            .inner
              .clock-canvas#canvas_days
              .text
                p.val 5
                p.type-days.type-time DAYS
        //- hours
        .clock-item.clock-hours.countdown-time-value.col-sm-6.col-md-3
          .wrap
            .inner
              .clock-canvas#canvas_hours
              .text
                p.val 4
                p.type-hours.type-time HOURS

        //- minutes
        .clock-item.clock-minutes.countdown-time-value.col-sm-6.col-md-3        
          .wrap
            .inner
              .clock-canvas#canvas_minutes
              .text
                p.val 3
                p.type-minutes.type-time MINUTES
        //- seconds
        .clock-item.clock-seconds.countdown-time-value.col-sm-6.col-md-3        
          .wrap
            .inner
              .clock-canvas#seconds
              .text
                p.val 2
                p.type-seconds.type-time SECONDS

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-4.text-center.large-header-home#me
    canvas#demo-canvas
    h1.home2-title Get To Know Me
    
    .container-fluid.text-center#home2     
      br
      br
      br
      br
      .row
        .col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
          .well.profile
            .col-sm-12    
              .col-xs-12.col-sm-8
                p About: 
                p Skills:
                  br
                  span.tags HTML
                  span.tags CSS
                  span.tags Kotlin

            .col-xs-12.col-sm-4.text-center
              img.img-responsive.margin.center-block#preHoverPic(src="/images/me.jpg", alt="Image")
              br
              br
            .col-xs-12.divider.text-center
              br
              br
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-success.btn-block 
                  span.fa.fa-plus-circle
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-info.btn-block View Profile
                  span.fa.fa-user
              .col-xs-12.col-sm-4.emphasis
                .btn-group.dropup.btn-block
                  button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Options
                    span.fa.fa-gear
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu.text-left(role="menu")
                    li
                      a(href="/contact") Contact Me
                        span.fa.fa-envelope.pull-right
                    li.divider                  
                    li
                      a(href="#") Add or remove from a list
                        span.fa.fa-list.pull-right
        br
        br
        br
        br
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-4.text-center.parallax.bud2  
    br
    br
    canvas#demo-canvas
    h1.home-pass Some of my passions
    br

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center.bot 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br