doctype html
html
  head  
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Philip Bankier
    link(rel='icon', href='/favicon.png', type="image/png")
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:200,400,800', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/Footer-with-social-icons.css')
    link(rel='stylesheet', href='/css/galofgal.css')
    link(rel='stylesheet', href='/css/twentytwenty.css')
    link(rel='stylesheet', href='/css/homepage.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/project.css')
    link(rel='stylesheet', href='/css/navbar.css')
    link(rel='stylesheet', href='/css/changer.css')
    link(rel='stylesheet', href='/css/jquery.bsPhotoGallery.css')
    link(rel='stylesheet', href='/css/about.css')
    link(rel='stylesheet', href='/css/compiled/main.css')
    link(rel='stylesheet', href='/css/emotion.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/colors.css')
    link(rel='stylesheet', href='/css/likes.css')
    link(rel='stylesheet', href='/css/countdown.css')
    link(rel='stylesheet', href='/css/imagelap.css')
    link(rel='stylesheet', href='/css/homegal.css')
    script(src='/socket.io/socket.io.js')
    script.
      let socket = io.connect(window.location.href);
      socket.on('greet', function (data) {
        console.log(data);
        socket.emit('respond', { message: 'Hey there, server!' });
      });

  body
    button(onclick="topFunction()", id="myBtn", title="Go to top") Top
    include partials/header

    include partials/flash
    block content
        
    include partials/footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js")
    script(src='/js/galleries.js')
    script(src='/js/homepage.js')
    script(src='/js/main.js')
    script(type="text/javascript", src="js/jquery.final-countdown.min.js")
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/creative.js')
    script(src='/js/jquery.flex.js')
    script(src='/js/emotion.js')  
    script(src='/js/jquery.event.move.js')
    script(src='/js/RYPP.js')
    script(src='/js/jR3DCarousel.js')
    script(src='/js/jquery.bsPhotoGallery.js')
    script(type="text/javascript", src="js/kinetic.js")
    script(src='/js/news.js')      