extends layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Resources
      .container#hoverPic
        img.img-responsive.margin#preHoverPic(src="/images/buddy/buddy4.jpg", alt="Image", align="middle")

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center   
    div
      ul
        label Bootstrap
        li
          a(href='https://bootsnipp.com/') Code snippets for Bootstrap
        label Jade/Pug
        li
          a(href='http://html2jade.aaron-powell.com/') HTML to Jade Converter
        li
          a(href='http://naltatis.github.io/jade-syntax-docs/#attributes') Jade/Pug Cheatsheet
        label CSS
        li
          a(href='http://www.codebeautifier.com/') CSS Formatter and Optimiser
        li
          a(href='http://alvit.de/css-showcase/css-navigation-techniques-showcase.php') CSS Menus and Navigation Tabs 
        label Other
        li
          a(href='http://fontawesome.io/cheatsheet/') Font Awesome Cheatsheet