extends layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Resources
      .container#hoverPic
        img.img-responsive.margin#preHoverPic(src="/images/buddy.jpg", alt="Image", align="middle")

  //- FIRST CONTAINER
  .container-fluid.bg-7
    div
      ul
        li(class=(title === 'mavenTiles') ? 'active' : undefined)
          a(href='https://github.com/philipbankier/Maven-Tiles') Maven Tiles
        li(class=(title === 'droneSearch') ? 'active' : undefined)
          a(href='https://github.com/philipbankier/drone-search') Drone Search

  //- SECOND CONTAINER  
  .container-fluid.bg-5.text-center    
