@import url('https://fonts.googleapis.com/css?family=Dosis');

.container-fluid.art {
  background-color: rgba(0,0,0,0.9);
}

header.art {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%),
    repeating-linear-gradient(135deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.05) 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  h1 {
    position: relative;
    z-index: 2;
    font-family: "Dosis",sans-serif;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    font-size: 5rem;
  }
}

.header-canvas {
  position: absolute;
  z-index: 1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: hidden;
}

.bar {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: rgba(0,0,0,1);
  transition: 0.25s;
  cursor: pointer;
  &:before, &:after {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) rotateZ(15deg);
    content: "";
    display: block;
    background: rgba(0,0,0,1);
    width: 500px;
    height: 3rem;
    transition: 0.25s;
  }
  &:after {
    width: 1000px;
    height: 4rem;
    bottom: -1rem;
    background: rgba(0,0,0,0.25);
  }
  &:hover {
    background: rgba(255,255,255,1);
    &:before {
      background: rgba(255,255,255,1);
    }
    &:after {
      background: rgba(255,255,255,0.25);
    }
  }
}

.toggle {
  position: relative;
  z-index: 2;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 auto;
  transition: 0.25s;
  &:before, &:after, span {
    position: absolute;
    left: 50%;
    display: block;
    width: 2rem;
    height: 2px;
    background: rgba(255,255,255,1);
    transition: 0.25s;
  }
  }
  &:before, &:after {
    content: "";
  }
  &:before {
    top: 0.75rem;
    transform: translateX(-50%) rotateZ(0deg);
  }
  &:after {
    bottom: 0.75rem;
    transform: translateX(-50%) rotateZ(0deg);
  }
  &.open {
    span {
      opacity: 0;
    }
    &:before {
      top: calc(1.5rem - 1px);
      transform: translateX(-50%) rotateZ(-225deg);
    }
    &:after {
      bottom: calc(1.5rem - 1px);
      transform: translateX(-50%) rotateZ(225deg);
    }
  }
  .bar:hover & {
    &:before, &:after, span {
      background: rgba(0,0,0,1);
    }
  }
}
  
.menu {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  transition: 0.25s;
  &.open {
    left: 0;
  }
  ul {
    position: absolute;
    width: 90%;
    height: 100%;
    max-width: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    margin: 0 0 0 auto;
    padding: 4rem 2rem 1rem;
    background: rgba(0,0,0,0.7);
  }
  a {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 2rem;
    transition: 0.25s;
    &:hover {
      background: rgba(255,255,255,1);
      color: rgba(0,0,0,1);
    }
  }
}

.accordion {
  width: 70%;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #333;
  font-family: Lobster;
  font-weight: normal;
  color: #6599FF;
}
.accordion h1:hover {
  color: #6CB0F1;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #9FC0FF;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #6599FF;
  color: #333;
}
.accordion h2:hover {
  background-color: #9FC0FF;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #A4A4A4;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #777779;
}

.accordion h4 {
  padding: 5px 35px;
  background-color: #CDCDCD;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #9B9999;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  color: #333;
  line-height: 1.3rem;
}
.accordion .opened-for-codepen {
  display: block;
}