/*Homepage background*/
.large-header-home {
	position: relative;
	width: 100%;
	max-height: 800px;
	height: auto;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.large-header-home2 {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	min-height: 2000px;
	max-height: 7000px;
}
	

#home {
	background-image: url('http://cdn.paper4pc.com/images/blue-space-wallpaper-4.jpg');

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 800px;

}

.main-home {
	position: absolute;
	margin: 0;
  	font-size: 60px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 38%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.sec-title {
	position: absolute;
	margin: 0;
  	font-size: 40px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 67%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.btn-clear {
	color:#FFF;
	background-color:transparent;
	margin-right:15px;
	border-color:#FFF;
}

.btn-clear:hover {
	color:#000;
	background-color:#FFF;
}

/*grad countdown*/
.home3-title {
	position: absolute;
	margin: 0;
  	font-size: 50px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 19%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#me {
	background-image: url('/images/me2.jpg');

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*#me {
	background-image: url('/images/me2.jpg');

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/

#buddy {
	background-image: url('/images/buddy/buddy2.jpg');

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 2000px;
	min-height: 1500px;
}

/*Get to know me*/
.home2-title {
	position: absolute;
	margin: 0;
  	font-size: 70px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 10%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

/* Multi level image container */
.wrapper{
  width: 500px;
  height: 500px;
  max-height:100vh;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate3d(-50%,-50%,0);
  overflow:hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#home2 {
	border-radius: 25px;
	min-width: 60%;
	height: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	background-color:rgba(101,153,255,0.70);
	text-align: center;
	top: 35%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);

}

#preHoverPic {
	display:block;
	width:100%;
	height:auto;
	margin:auto;
}

.homeCont5 {
	background-image: url("/images/buddy/buddy2.jpg");
	/* Set a specific height */
	min-height: 1000px; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#youtubeCont {
	border-radius: 25px;
	min-width: 60%;
	height: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	background-color:rgba(101,153,255,0.70);
	text-align: center;
	top: 33%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.bud2 {
	background-image: url("/images/buddy/buddy2.jpg");
	/* Set a specific height */
	min-height: 950px; 
}

#liker {
	background-image: url('/images/buddy/buddy8.jpg');

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 1500px;

}

#like {
	min-height: 300px;
	border-radius: 25px;
	min-width: 60%;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	background-color:rgba(101,153,255,0.70);
	text-align: center;
	top: 70%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


#like2 {
	border-radius: 25px;
	min-width: 60%;
	height: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	background-color:rgba(101,153,255,0.70);
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.home-project-title {
	position: absolute;
	margin: 0;
  	font-size: 55px;
	padding: 0;
	color: #FFFFFF;
	text-align: center;
	top: 15%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


.flex {position:relative;width:850px;min-height:300px;margin:0 auto;border:0px solid red;margin-top:10px;}
.flex a {background-color:white;display:block;width:100px;height:100px;border-radius:8px;position:absolute;background-repeat:no-repeat;background-position:center;border:3px solid white;cursor:pointer;text-align:left;text-shadow:1px 1px 20px #000;color:white;font-size:18px;font-weight:bold;text-indent:10px;line-height:30px;}
[bg=a] {background-image:url(http://farm8.staticflickr.com/7013/6448917381_0b754e86fb_z.jpg);}
[bg=b] {background-image:url(http://farm9.staticflickr.com/8156/7362866426_bf285ebd45.jpg);background-size:300px auto;}
[bg=c] {background-image:url(http://farm6.staticflickr.com/5117/7410370290_0935419fc3.jpg);}
[bg=d] {background-image:url(http://farm8.staticflickr.com/7262/7419245080_bb752ed1d6.jpg);}
[bg=e] {background-image:url(http://farm8.staticflickr.com/7003/6468321069_3375be3073_z.jpg);background-size:auto 280px;}
[bg=f] {background-image:url(http://farm8.staticflickr.com/7220/7342556872_46cddaf9b0.jpg);background-size:auto 280px;}
[bg=g] {background-image:url(http://farm9.staticflickr.com/8021/7322604950_348c535903.jpg);background-size:auto 200px;}
[bg=h] {background-image:url(http://farm8.staticflickr.com/7076/7286717012_6e6b450243.jpg);}
[bg=i] {background-image:url(http://farm8.staticflickr.com/7129/7452167788_a3f6aa3104.jpg);background-size:auto 200px;}
[bg=j] {background-image:url(http://farm8.staticflickr.com/7153/6480022425_a8d419e663_z.jpg);background-size:auto 280px;}
[bg=k] {background-image:url(http://farm8.staticflickr.com/7225/7269592732_c4b7918626.jpg);background-size:auto 280px;}
/*h1, h3 {width:850px;font-weight:normal;margin:0 auto;}
h1 {margin-top:100px;}
h3 {color:#666;margin-top:5px;}
p {width:850px;margin:0;padding:0;margin:0 auto;font-size:14px;color:black;margin-top:0px;margin-bottom:20px;color:#989898;}
#buttons {height:75px;width:850px;margin:0 auto;margin-top:10px;}
#buttons a {float:left}
.marginleft {margin-left:25px;}*/
* {
  
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}

.slider {

  width:720px;
  height:360px;
  overflow:hidden;
  margin:30px auto;
  box-shadow:2px 4px 10px rgba(125,125,125, 0.8);
}

.slider ul {
 
  list-style-type:none;
  width:30000px;
}

.slider ul li {
  position:relative;
  display:block;
  float:left;
  width:180px;
  border-left:1px solid rgba(145,145,145, 0.6);  
  box-shadow:0 0 20px 1px rgba(22,22,22, 0.5);
  
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  transition:all 0.5s ease;
}



.slider ul:hover li {
  width:40px;
}

.slider ul li:hover {
  
  width:600px;
}

.slider li img {
  
  display:block;
}

.title {
  
  position:absolute;
  left:0;
  bottom:0;
  width:600px;
  background:rgba(22,22,22,0.4);
  
}

.title a {
  display:block;
  padding:20px;
  color:white;
  font:18px;
  text-decoration:none;
  
  
}

/*Skill bars*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	top: 530px;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* Our normalize css */
*{
  margin:0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Our image information */
.bottom,
.middle,
.top {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
  &>img{
    height:100%;
  }
}

.top{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: #fff;
  opacity:0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events:auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller-middle{
  margin-top:25px;
}
.scroller-top{
  margin-top:-25px;
}


.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  // z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  border-radius:50%;
  padding: 7px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller:before{
  top:49px;
}
.scroller:after{
  bottom:49px;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle>.scroller__thumb{
  border: 5px solid #FFCCBC;
}
.scroller-middle:before,
.scroller-middle:after{
  background: #FFCCBC;
}

.scroller-top>.scroller__thumb{
  border: 5px solid #FFAB91;
}
.scroller-top:before,
.scroller-top:after{
  background: #FFAB91;
}