.large-header-like {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	height: 1500px;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}


.main-likes {
	position: absolute;
	margin: 0;
  	font-size: 50px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 25%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

/* Quote carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/*quote author */
#author {
  color: #FFFFFF;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*YOUTUBE*/
@charset "UTF-8";
.RYPP {
  /* Youtube Player With Playlist */
  width: 100%;
  position: relative;
  padding-right: 250px;
  background: #1a1a1a;
  overflow: hidden;
  font: 400 14px/120% Arial, Helvetica, sans-serif;
  color: #999; }
  .RYPP .RYPP-video {
    width: 100%;
    padding-top: 56.25%;
    float: left;
    position: relative; }
    .RYPP .RYPP-video > iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
  .RYPP.r16-9 .RYPP-video {
    padding-top: 56.25%; }
  .RYPP.r4-3 .RYPP-video {
    padding-top: 75%; }
  .RYPP.r2-1 .RYPP-video {
    padding-top: 50%; }
  .RYPP .RYPP-items {
    width: 100%;
    position: absolute;
    left: 0;
    top: 64px;
    right: 0;
    bottom: 0;
    overflow-y: auto; }
  .RYPP .RYPP-playlist {
    width: 250px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #222; }
    .RYPP .RYPP-playlist a {
      color: #999; }
      .RYPP .RYPP-playlist a:hover {
        color: #fff; }
    .RYPP .RYPP-playlist > header {
      width: 100%;
      height: 64px;
      padding: 16px 0 0 8px;
      background: #222;
      border-left: 8px solid #222;
      border-right: 8px solid #222;
      border-bottom: 1px solid #3a3a3a;
      z-index: 2; }
      .RYPP .RYPP-playlist > header ._h1 {
        margin: 0 0 4px 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        color: #fff; }
      .RYPP .RYPP-playlist > header p {
        margin: 0;
        padding: 0; }
    .RYPP .RYPP-playlist ol {
      padding: 0 0 16px 0;
      margin: 0;
      list-style: none;
      counter-reset: item; }
      .RYPP .RYPP-playlist ol li {
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        padding: 12px 0 12px 12px; }
        .RYPP .RYPP-playlist ol li > img {
          width: 18%;
          display: inline-block;
          vertical-align: middle;
          border: 2px solid transparent; }
        .RYPP .RYPP-playlist ol li > p {
          width: 76%;
          margin: 0;
          padding: 0 16px 0 0;
          float: right;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          color: #cacaca; }
          .RYPP .RYPP-playlist ol li > p > small {
            margin: 0;
            padding: 0;
            font-size: 80%; }
        .RYPP .RYPP-playlist ol li:hover {
          background-color: #3a3a3a;
          cursor: pointer; }
        .RYPP .RYPP-playlist ol li.selected {
          background-color: #3a3a3a;
          cursor: pointer; }
          .RYPP .RYPP-playlist ol li.selected > p {
            color: #fff; }
          .RYPP .RYPP-playlist ol li.selected > img {
            border: 2px solid #c03636; }
          .RYPP .RYPP-playlist ol li.selected:before {
            content: '▶';
            font-size: 10px;
            color: #c03636; }
        .RYPP .RYPP-playlist ol li:before {
          counter-increment: item;
          content: counter(item);
          font-size: 80%; }

.RYPP-items::-webkit-scrollbar {
  width: 6px;
  background: #3a3a3a; }

.RYPP-items::-webkit-scrollbar-thumb {
  background: #999; }

@media only screen and (max-width: 639px) {
  .RYPP {
    padding-right: 0; }
    .RYPP .RYPP-playlist {
      width: 100%;
      position: static;
      float: left; }
      .RYPP .RYPP-playlist .RYPP-items {
        position: static;
        max-height: 350px;
        overflow: auto; } }

