extends ../layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Need To Read
      
  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center    
    div.panel.panel-default
          div.panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") For Upcoming Development

          div.panel-collapse.collapse#collapse1 
            div.panel-body
              ul
                li
                  a(href='https://css-tricks.com/snippets/css/a-guide-to-flexbox/') A Complete Guide to Flexbox
                li
                  a(href='https://www.w3schools.com/css/css3_flexbox.asp') CSS3 Flexible Box - w3school
                li
                  a(href='https://www.codementor.io/knownasilya/testing-express-apis-with-supertest-du107mcv2') Testing Express APIs with Supertest
                li
                  a(href='https://closebrace.com/tutorials/2017-03-02/the-dead-simple-step-by-step-guide-for-front-end-developers-to-getting-up-and-running-with-nodejs-express-and-mongodb') The Dead-Simple Step-By-Step Guide for Front-End Developers to Getting Up and Running With Node.JS, Express, and MongoDB
                li
                  a(href='http://blog.rangle.io/angular-gulp-bestpractices/') Gulp Best Practices
                li
                  a(href='https://github.com/gulpjs/gulp/blob/master/docs/recipes/server-with-livereload-and-css-injection.md') Server with live-reloading and CSS injection

  br
  br
  br
  br                