extends ../layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Buddy 
  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center 
    br
    .container#hoverPic
      img.img-responsive.margin#preHoverPic(src="/images/buddy/buddy7.jpg", alt="Image", align="middle")

  br
  br
  br                