extends ../layout

block content

  .large-header-like#liker
    canvas#demo-canvas
    h1.main-likes These Are Some Things I Like
      br
      div.btn
        a.btn.btn-clear(type="button", href="/buddy") More Pictures of Buddy 

    .container.bg-5#like
      br
      .row
        .col-md-offset-2.col-md-8.text-center
        h1 Some Interesting Quotes
      
      .row
        .col-md-offset-2.col-md-8
          .carousel.slide#quote-carousel(data-ride="carousel")
            ol.carousel-indicators
              li.active(data-target="#quote-carousel" data-slide-to="0") 
              li(data-target="#quote-carousel" data-slide-to="1") 
              li(data-target="#quote-carousel" data-slide-to="2") 
              li(data-target="#quote-carousel" data-slide-to="3") 
              li(data-target="#quote-carousel" data-slide-to="4")
              li(data-target="#quote-carousel" data-slide-to="5") 
              li(data-target="#quote-carousel" data-slide-to="6")
              li(data-target="#quote-carousel" data-slide-to="7") 
            .carousel-inner
              
              //- Quote 1 
              .item.active
                blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p Too often we enjoy the comfort of opinion without the discomfort of thought"
                      small#author John F. Kennedy

              //- Quote 2
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p The idea was wonderful, it was only the reality that did not cooperate
                      small#author Thomas Sowell

              //- Quote 3
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p Money doesn't change people, it just makes them be who they really are
                      small#author Abe Simpson

              //- Quote 4
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p The problem with socialism is that you eventually run out of other peoples' money
                      small#author Margaret Thatcher

              //- Quote 5
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p Free market capitalism is the worst economic system except for every other system ever tried
                      small#author Sir Winston Churchill

              //- Quote 6
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p The idea was wonderful, it was only the reality that did not cooperate
                      small#author Thomas Sowell

              //- Quote 7
              .item
                 blockquote
                  .row
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p One of the great mistakes is to judge policies and programs by their intentions, rather than their results. We all know a famous road that is paved with good intentions. The people who go around talking about their 'soft heart,'--I admire them for the softness of their heart, but very often it extends to their head as well.
                      small#author Milton Friedman

              //- Quote 8
              .item
                 blockquote
                  .row
                    
                    .col-sm-3.text-center
                      img.img-circle(src="http://wp-desk.com/lovinflat/images/persons/person_1.png", style="width: 100px;height:100px;")
                    .col-sm-9
                      p The first lesson of economics is scarcity: there is never enough of anything to fully satisfy all those who want it. The first lesson of politics is to disregard the first lesson of economics.
                      small#author Thomas Sowell

            a.left.carousel-control(data-slide="prev", href="#quote-carousel")
              i.fa.fa-chevron-left
            a.right.carousel-control(data-slide="next", href="#quote-carousel")
              i.fa.fa-chevron-right
      br
    br
    br
    br
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center 
    br
    //- Add more stocks
    script(src="http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=AAPL,AMZN,QQQ,NVDA,MGK")    
    br
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-4.text-center.parallax.bud2
      br
      br
      br
      br
      br
      br
      .container.bg-11.text-center#like2
        br
        br
        h1#w Some Dope Music
          br
          br
          br
          iframe(width="100%", height="200", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297714702&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true")
          br
          br
          br
          br
          iframe(width="100%", height="200", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284979796&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true")
          br
          br
          br
          br
          iframe(width="100%", height="200", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/244417407&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true")
          br
          br
          br
          br
          iframe(width="100%", height="200", scrolling="no", frameborder="no", src=" https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301161123&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true")
      br
      br
      br
      br
      br
      br
      br
      br

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center 
    br
    br
    //- Put cool effect here
    br
    br
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-5.text-center.parallax.bud2.bot 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .container.bg-11.text-center#like2      
      br
      h1#w Some Interesting Videos
      br
      br
      .RYPP.r4-3(data-playlist="PL7myPgOfQRSh9umEktpS2vcuVE_SElhv8")
        .RYPP-video
          .RYPP-video-player
        .RYPP-playlist
          header
            h2._h1.RYPP-title DIY Video's
            p.RYPP-desc Some great projects
            .RYPP-items
      br
      br
    br
    br
    br
    br
    br
    br
  br
  br
  br
  br
