extends ../layout

block content

  .large-header-like#liker
    canvas#demo-canvas
    h1.main-likes These Are Some Things I Like
      br
      div.btn
        a.btn.btn-clear(type="button", href="/buddy") More Pictures of Buddy 

      br
    br
    br
    br
  .container-fluid.bg-4.text-center.parallax.bud2
      br
      br
      br
      br
      br
      br
      .container.bg-11.text-center#like2
        br
        br
      br
      br
      br
      br
      br
      br
      br

  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-9.text-center 
    br
    br
    //- Put cool effect here
    br
    br
  .container-fluid.bg-1.text-center 
    br
    br

  .container-fluid.bg-5.text-center.parallax.bud2.bot 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .container.bg-11.text-center#like2      
      br
      br
      br
    br
    br
    br
    br
    br
    br
  br
  br
  br
  br
