extends ../layout

block content
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Some Interesting Articles

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center.bot    
    aside.accordion
      h1 Artificial Intelligence
      .opened-for-codepen
        h2 AI
        p 
          | https://spectrum.ieee.org/robotics/artificial-intelligence

