extends ../layout

block content
  container-fluid.art
    header.art
      h1 Interesting Articles

  .bar
    a(href="javascript:;", class="toggle")
    container-fluid.bg-1.text-center 
    br
    br
    br

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center.bot    
    aside.accordion
      h1 Artificial Intelligence
      .opened-for-codepen
        h2 AI
        p 
          | https://spectrum.ieee.org/robotics/artificial-intelligence

