extends ../layout

block content
  //- FIRST CONTAINER
  .carousel.slide#myCarousel(data-ride="carousel")

    //- Wrapper for slides
    .carousel-inner
      .item.active
        img.center(src="/images/buddy/buddy.jpg", alt="Pic1", height="2000", width="2000")
     
  .main-text.hidden-xs
    .col-md-12.text-center
      .jumbotron(style="background:transparent !important")
        h1 Problematic
  //- SECOND CONTAINER
  .container-fluid.bg-5.text-center.bot   
    div

    div.panel-group#accordion
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Some Things I Find Problematic

        div.panel-collapse.collapse.in#collapse1
          div.panel-body
            ul
              li(class=(title === 'bootstrapSnippet') ? 'active' : undefined)
                a(href='https://bootsnipp.com/') Code snippets for Bootstrap
  br
  br
  br
  br
  br
  br