extends ../layout

block content
  //- FIRST CONTAINER
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Some Problematic Shit

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- SECOND CONTAINER
  .container-fluid.bg-5.text-center.bot   
    div

    div.panel-group#accordion
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Some Things I Find Problematic

        div.panel-collapse.collapse.in#collapse1
          div.panel-body
            ul
              li(class=(title === 'bootstrapSnippet') ? 'active' : undefined)
                a(href='https://bootsnipp.com/') Code snippets for Bootstrap
  br
  br
  br
  br
  br
  br