extends ../layout

block content
  //- FIRST CONTAINER
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Some Touchy Subjects

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- SECOND CONTAINER
  .container-fluid.bg-5.text-center.bot    
    aside.accordion
      h1 Feminism
      .opened-for-codepen
        h2 Feminist movements and ideologies
        p 
          | https://en.wikipedia.org/wiki/Feminist_movements_and_ideologies
        h2 Don't Buy Into The Gender Pay Gap Myth
        p 
          | https://www.forbes.com/sites/karinagness/2016/04/12/dont-buy-into-the-gender-pay-gap-myth/#33b934f72596


  br
  br
  br
  br
  br
  br