extends ../layout

block content
  //- FIRST CONTAINER
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Some Touchy Subjects

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- SECOND CONTAINER
  .container-fluid.bg-5.text-center.bot   
    div

    div.panel-group#accordion
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Feminism

        div.panel-collapse.collapse.in#collapse1
          div.panel-body
            ul
              li
                a(href='https://en.wikipedia.org/wiki/Feminist_movements_and_ideologies') Feminist movements and ideologies
              //- li
              //-   a(href='#') The official Bureau of Labor Department statistics show that the median earnings of full-time female workers is 77 percent of the median earnings of full-time male workers. But that is very different than “77 cents on the dollar for doing the same work as men.” The latter gives the impression that a man and a woman standing next to each other doing the same job for the same number of hours get paid different salaries. That’s not at all the case. “Full time” officially means 35 hours, but men work more hours than women. That’s the first problem: We could be comparing men working 40 hours to women working 35. - Slate article, by Hanna Rosin
              li
                a(href='https://www.forbes.com/sites/karinagness/2016/04/12/dont-buy-into-the-gender-pay-gap-myth/#33b934f72596') Don't Buy Into The Gender Pay Gap Myth
  br
  br
  br
  br
  br
  br