extends ../layout

block content
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Resources

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center.bot   
    div
    aside.accordion
      h1 Top Resources
      .opened-for-codepen
        h2 How to - w3school
          a(href='https://www.w3schools.com/howto/default.asp') 

        h2 Bootstrap
        .opened-for-codepen
          h3 Code snippets for Bootstrap
          p
            | https://bootsnipp.com/

      h1 Languages
      div
        h2 CSS
        div
          h3 CSS Formatter and Optimiser
          p
            | http://www.codebeautifier.com/
          h3 CSS Menus and Navigation Tabs
          p
            | http://alvit.de/css-showcase/css-navigation-techniques-showcase.php
          h3 CSS Image Parallax
          p
            | https://www.w3schools.com/howto/howto_css_parallax.asp
        h2 jQuery
        div
          h3 TwentyTwenty
          p
            | https://zurb.com/playground/twentytwenty

      h1 Tools
      div
        h2 Task Managers
        div
          h3 Gulp
          div
            h4 Gulp Best Practices
            p
              | http://blog.rangle.io/angular-gulp-bestpractices/
        h2 Template Engines
        div
          h3 Jade/Pug
          div
            a.btn.btn-clear(type="button", href='http://html2jade.aaron-powell.com/') HTML to Jade Converter
            h4 Jade/Pug Cheatsheet
            p
              | http://naltatis.github.io/jade-syntax-docs/#attributes
        h2 Containers
        div
          h3 Docker
          div
            h4 Pushing and Pulling to and from Docker Hub
            p
              | https://ropenscilabs.github.io/r-docker-tutorial/04-Dockerhub.html
            h4 How to Remove Docker Images and Containers 
            p
              | https://tecadmin.net/remove-docker-images-and-containers/
            h4 Gulp Docker
            p
              | https://www.npmjs.com/package/gulp-docker

      h1 Cool Stuff
      div
        h2 Animations and Effects
        div
          h3 Mouse Controlled Effects
          div
            h4 Gravity Points
            p
              | https://codepen.io/akm2/pen/rHIsa
            h4 Beautiful Line Effects with Color Changes
            p
              | http://cssdeck.com/labs/pa0yqlki
            h4 Cool Particle Screen
            p
              | https://codepen.io/soulwire/pen/Ffvlo
            h4 Particle Orb CSS
            p
              | https://codepen.io/natewiley/pen/GgONKy
            h4 Cool Particle Trails 
            p
              | https://codepen.io/Jeremboo/pen/ENVaMY
            h4 Mouse drawer 
            p
              | https://codepen.io/tholman/pen/EpfLs
            h4 Dot follower 
            p
              | https://codepen.io/soulwire/pen/foktm
            h4 mouse following orbit 
            p
              | https://codepen.io/isuttell/pen/raxRaJ

          h3 Photo Effects
          div
            h4 Water Blur Animation
            p
              | https://codemyui.com/looking-water-blur-animation-effect-5-styles/

            h4 Glitch img effect(dope) 
            p
              | https://codemyui.com/horror-movie-like-glitch-effect/

            h4 Awesome split image effect
            p
              | https://codemyui.com/vertical-split-image-slideshow/

          h3 Text Effects
          div
            h4 Filling SVG Text
            p
              | https://codepen.io/supah/pen/vXyBza

          h3 Other Animations
          div
            h4 Mobius Animation
            p
              | https://codepen.io/thebabydino/pen/mJojKd
            h4 Neural Network visualization
            p
              | https://codepen.io/towc/pen/wGjXGY

            h4 Awesome split image effect
            p
              | https://codemyui.com/vertical-split-image-slideshow/

        h2 General
        div
          h3 Awesome Music Maker
          p 
            | https://codepen.io/woodwork/pen/rxrLqa
          h3 Fireworks
          p 
            | https://codepen.io/jackrugile/pen/acAgx
          h3 Breaking Bad Effect
          p 
            | https://codepen.io/TimPietrusky/pen/Bsegb
          h3 CSS 3D Solar System
          p 
            | https://codepen.io/waynedunkley/pen/YPJWaz
          h3 3D Solar System
          p 
            | https://codepen.io/juliangarnier/pen/idhuG
          h3 30000 particle screen
          p 
            | https://codepen.io/soulwire/pen/Ffvlo
          h3 Audio Visualizer
          p 
            | https://codepen.io/HarrisCarney/pen/dPjKyK
      
      h1 General
      div
        h2 Helpful
        div
          h3 List of perfect 16:9 ratios
          p 
            | https://antifreezedesign.wordpress.com/2011/05/13/permutations-of-1920x1080-for-perfect-scaling-at-1-77/
          h3 Markdown Editor
          p 
            | https://stackedit.io/editor
          h3 Icons
          p 
            | https://iconmonstr.com/
          h3 Embed stock ticker
          p 
            | https://www.macroaxis.com/invest/widgets/native/stockTicker?g=All&s=AAPL,AMZN,QQQ,NVDA,MGK
          h3 Scrolling effects
          p 
            | http://blog.dynamicdrive.com/6-javascript-scroll-libraries-to-use-in-2017/
        h2 Good Code Examples
        div
          h3 Bootstrap template
          p
            | https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_theme_company_complete_animation

      h1 For Me
      div
        h2 For My Site
        div
          h3 A Complete Guide to Flexbox
          p 
            | https://css-tricks.com/snippets/css/a-guide-to-flexbox/
          h3 CSS3 Flexible Box - w3school
          p 
            | https://www.w3schools.com/css/css3_flexbox.asp
          h3 Testing Express APIs with Supertest
          p 
            | https://www.codementor.io/knownasilya/testing-express-apis-with-supertest-du107mcv2
          h3 The Dead-Simple Step-By-Step Guide for Front-End Developers to Getting Up and Running With Node.JS, Express, and MongoDB
          p 
            | https://closebrace.com/tutorials/2017-03-02/the-dead-simple-step-by-step-guide-for-front-end-developers-to-getting-up-and-running-with-nodejs-express-and-mongodb
        h2 Look Into
        div
          h3 A Complete Guide to Flexbox
          p 
            | https://css-tricks.com/snippets/css/a-guide-to-flexbox/
          h3 CSS3 Flexible Box - w3school
          p 
            | https://www.w3schools.com/css/css3_flexbox.asp
    