extends ../layout

block content
  .large-header-home#home
    canvas#demo-canvas
    h1.main-home Resources

  .container-fluid.bg-1.text-center 
    br
    br
    br

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center.bot   
    div

    div.panel-group#accordion
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") Top Resources

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='https://www.w3schools.com/howto/default.asp') How to - w3school

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Bootstrap

        div.panel-collapse.collapse.in#collapse1
          div.panel-body
            ul
              li(class=(title === 'bootstrapSnippet') ? 'active' : undefined)
                a(href='https://bootsnipp.com/') Code snippets for Bootstrap
                
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse2") Jade/Pug

        div.panel-collapse.collapse.in#collapse2
          div.panel-body
            ul
              li(class=(title === 'htmlToJade') ? 'active' : undefined)
                a(href='http://html2jade.aaron-powell.com/') HTML to Jade Converter
              li(class=(title === 'pugCheatsheet') ? 'active' : undefined)
                a(href='http://naltatis.github.io/jade-syntax-docs/#attributes') Jade/Pug Cheatsheet

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") Docker

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='https://ropenscilabs.github.io/r-docker-tutorial/04-Dockerhub.html') Pushing and Pulling to and from Docker Hub
              li
                a(href='https://tecadmin.net/remove-docker-images-and-containers/') How to Remove Docker Images and Containers 
              li
                a(href='https://www.npmjs.com/package/gulp-docker') Gulp Docker
              li
                a(href='https://www.npmjs.com/package/gulp-docker') Gulp Docker  
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") CSS

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li(class=(title === 'cssFormatterOptimiser') ? 'active' : undefined)
                a(href='http://www.codebeautifier.com/') CSS Formatter and Optimiser
              li(class=(title === 'menuAndNav') ? 'active' : undefined)
                a(href='http://alvit.de/css-showcase/css-navigation-techniques-showcase.php') CSS Menus and Navigation Tabs
              li
                a(href='https://www.w3schools.com/howto/howto_css_parallax.asp') CSS Image Parallax

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") jQuery

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='https://zurb.com/playground/twentytwenty') TwentyTwenty
              li
                a(href='http://alvit.de/css-showcase/css-navigation-techniques-showcase.php') CSS Menus and Navigation Tabs

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") Gulp

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='http://blog.rangle.io/angular-gulp-bestpractices/') Gulp Best Practices

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse4") Cool Effects

        div.panel-collapse.collapse.in#collapse4
          div.panel-body
            ul
              li
                a(href='https://codepen.io/soulwire/pen/Ffvlo') Cool Particle Screen
              li
                a(href='https://codepen.io/natewiley/pen/GgONKy') Particle Orb CSS
              li
                a(href='https://codepen.io/thebabydino/pen/mJojKd') Mobius Animation
              li
                a(href='https://codepen.io/towc/pen/wGjXGY') Neural Network visualization
              li
                a(href='https://codepen.io/Jeremboo/pen/ENVaMY') Cool Particle Trails 
              li
                a(href='https://codepen.io/woodwork/pen/rxrLqa') Awesome Music Maker
              li
                a(href='https://codepen.io/jackrugile/pen/acAgx') Fireworks
              li
                a(href='https://codepen.io/tholman/pen/EpfLs') Mouse drawer 
              li
                a(href='https://codepen.io/soulwire/pen/foktm') Dot follower
              li
                a(href='https://codepen.io/TimPietrusky/pen/Bsegb') Breaking Bad Effect
              li
                a(href='https://codepen.io/waynedunkley/pen/YPJWaz') CSS 3D Solar System
              li
                a(href='https://codepen.io/isuttell/pen/raxRaJ') mouse following orbit
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") For This Site

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='https://css-tricks.com/snippets/css/a-guide-to-flexbox/') A Complete Guide to Flexbox
              li
                a(href='https://www.w3schools.com/css/css3_flexbox.asp') CSS3 Flexible Box - w3school
              li
                a(href='https://www.codementor.io/knownasilya/testing-express-apis-with-supertest-du107mcv2') Testing Express APIs with Supertest
              li
                a(href='https://closebrace.com/tutorials/2017-03-02/the-dead-simple-step-by-step-guide-for-front-end-developers-to-getting-up-and-running-with-nodejs-express-and-mongodb') The Dead-Simple Step-By-Step Guide for Front-End Developers to Getting Up and Running With Node.JS, Express, and MongoDB

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse4") Other Things

        div.panel-collapse.collapse.in#collapse4
          div.panel-body
            ul
              li
                a(href='https://github.com/sahat/hackathon-starter') Hackathon Starter
              li
                a(href='https://antifreezedesign.wordpress.com/2011/05/13/permutations-of-1920x1080-for-perfect-scaling-at-1-77/') List of perfect 16:9 ratios
              li
                a(href='https://stackedit.io/editor') Markdown Editor
              li
                a(href='https://iconmonstr.com/') Icons
              li
                a(href='https://www.macroaxis.com/invest/widgets/native/stockTicker?g=All&s=AAPL,AMZN,QQQ,NVDA,MGK') Embed stock ticker
                
                
  br
  br
  br
  br
  br
  br
    